version: '3.9'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: InventoryDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Chhavi
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    ports:
      - "5000:80"
    depends_on:
      - postgres
      - mongo
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"  # Optional, you can use Production too
      ConnectionStrings__PostgresConnection: "Host=postgres;Port=5432;Database=InventoryDB;Username=postgres;Password=Chhavi"
      MongoDb__ConnectionString: "mongodb://mongo:27017"
      MongoDb__DatabaseName: "InventoryLogs"
      Jwt__Key: "your-docker-secret-key"

volumes:
  postgres-data:
  mongo-data:
